
dta/china_procurement_clean1.csv
dta/china_procurement_clean1.dta
dta/china_procurement.dta
raw/China_procurement.csv
raw/采购合同公告明细数据1996-2024.dta
dta/china_procurement_region.csv
raw/Countylevel_Admin_2020
dta/china_procurement_region2.csv
dta/china_procurement_primary.csv
dta/china_procurement_2cat.csv
dta/china_procurement_2cat.dta
dta/china_procurement_primary.dta