
dta/china_procurement_clean1.csv
dta/china_procurement_clean1.dta
dta/china_procurement.dta
raw/China_procurement.csv
raw/采购合同公告明细数据1996-2024.dta
dta/china_procurement_region.csv
raw/Countylevel_Admin_2020
dta/china_procurement_region2.csv
dta/china_procurement_primary.csv
dta/china_procurement_2cat.csv
dta/china_procurement_2cat.dta
dta/china_procurement_primary.dta
*.dta
dta/china_procurement_unmatched_items.csv
dta/china_procurement_matched_items.csv
*.pkl
dta/catalog_with_embeddings.csv
dta/classified
dta/classified_emb.csv
dta/china_procurement_bunchingfinal.csv
dta/china_procurement_classified_2.csv
dta/china_procurement_final.csv
dta/china_procurement_matched_items_2.csv
dta/china_procurement_region_makeup.csv
dta/china_procurement_regionall.csv
dta/china_procurement_unmatched_items_2.csv
dta/classified_emb_2.csv
dta/classified_2